@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    padding-bottom: 21px;
    font-family: "gilroy";
    font-weight: 900;
	line-height: 1.25;
	color: #fff;
}

h1 {
	font-size: 32px;
}

img {
	transition: opacity 700ms linear;
}

p {
	font-size: 16px;
	color: #fff;
	font-family: $roboto;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.btns {
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    border: 0;
    background: 0;
    padding: 0 20px;
    white-space: nowrap;
    height: 36px;
    font-size: 12px;
	transition: all 135ms linear;
	cursor: pointer;
	display: inline-block;
}

a.btns {
	line-height: 32px;
    height: auto;
}

.take-me {
	color: #fff;
	background: transparent;
	border: 2px solid $accent;

	&:hover {
		color: #fff;
		background: $accent;
	}
}

header.header {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: $main-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 999;
	padding: 17px 0;

	.transi {
		background: 0;
		box-shadow: none;		
	}

	.header-best {
		display: flex;
		flex: 1;
		align-items: center;
	}

	a.logo {
		display: flex;
		align-items: center;
		font-size: 24px;
		font-weight: 900;
		color: #fff;

		.rect {
			width: 20px;
			height: 20px;
			background-color: $accent;
			margin-right: 10px;
		}
	}

	nav {
		margin-left: auto;
		ul {
			display: flex;
			li {
				margin-right: 30px;
				a {
					font-weight: 900;
					text-transform: uppercase;
					color: #fff;
					font-size: 12px;
				}
			}
		}
	}

	button.take-me {
		line-height: 32px;
		height: auto;
	}

}

main {
	min-height: calc(100vh - 139px);
	padding-top: 140px;

	body.sex-on-fire & {
		padding-top: 0;
	}
}

body {
	&.sex-on-fire {
		.welcome {
			position: absolute;
			pointer-events: none;
			z-index: 200;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			align-items: center;
			display: none;
			
			.btns {
				pointer-events: auto;
			}

			h2 {
				text-align: left;
				padding-bottom: 34px;

				span {
					display: inline-block;
					background: $accent;
					color: #202240;
					padding: 0 5px;
					text-shadow: none;
				}
				
				@media (min-width: 1023px) {
					font-size: 32px;
					text-shadow: 1px 1px 1px #000;
				}
			}

			h3 {
				font-size: 25px;
    			text-shadow: 1px 1px 1px #000;
			}
	
			.inner {
				float: left;
				width: 33.3333%;
				padding: 0 15px;
				transition: opacity 2s linear;
				transform: translate(10%,0);
				opacity: 0;
			}
		}

		h1 {
			text-align: center;

			.line {
				display: block;
				width: 80px;
				height: 5px;
				box-shadow: 0 11px 21px $hleb;
				border: 2px solid $accent;
				background-color: $accent;
				margin: 18px auto 0;
			}
		}
	}

	&.kings {
		.welcome .inner {
			transform: translate(0,0);
			opacity: 1;
		}
	}
}

.catSlider {
	width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
	opacity: 1;

	body.sex-on-fire & .welcome {
		display: flex;
	}

	.catBtns {
		width: 93px;
		height: 93px;
		border-radius: 93px;
		background-color: #ffffff1a;
		position: absolute;
		line-height: 97px;
		z-index: 150;
		top: 50%;
		margin-top: -45px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		padding: 0 15px;
		transform: scale(1);
		opacity: 0;
		transition: transform 150ms linear, opacity 250ms linear 900ms;

		&.next {
			right: -45px;
			text-align: left;
		}

		&.prev {
			left: -45px;
			text-align: right;
		}

		&.disabled {
			pointer-events: none;
			cursor: not-allowed;
		}
		
		&.active {
			transform: scale(1.2);
			background: #ffb71f;
			cursor: pointer;

			&:hover {
				@media (min-width: 767px) {
					transform: scale(1.4);
				}
			}
		}

		&.showBtn {
			opacity: 1;
		}
		
		i {
			font-size: 26px;
			color: #fff;
			line-height: 93px;
		}
	}

	.slidesList {
		.item {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			overflow: hidden;
			transition: all 350ms linear;
			background: $main-color;
			display: flex;
			align-items: center;

			&:first-child {
				left: 0;
			}

			&.active {
				left: 0;
			}
		}

		.imgBg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: center no-repeat;
			background-size: cover;
		}
	}
}

section.transi {
	width: 100%;
    height: 100vh;
}

section.skills {
	padding: 116px 0 136px;
    position: relative;
    overflow: hidden;
	background: $main-color;
	
	.inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&.web {
			display: block;
		}

		// opacity: 1;
		// transform: translate3d(0px, -200px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
	}

	h1.kLeft {
		text-align: left;
		padding-bottom: 30px;

		.line {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.text {
		max-width: 428px;
		padding-bottom: 50px;
	}

	.wishList {
		line-height: 1.3;
		display: flex;
		flex-wrap: wrap;

		.box {
			width: 33.333%;
			padding-bottom: 68px;
		}

		strong {
			display: block;
			font-weight: 900;
			font-size: 28px;
			color: $accent;
		}

		span {
			font-size: 16px;
			color: #fff;
			line-height: 22px;
			display: block;
			font-family: $roboto;
		}
	}

	h1.water {
		margin-top: 100px;
	}
}

.DogSlider {
    padding-bottom: 50px;
    position: relative;
	margin: 40px 0 80px 0;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: rgba(201, 61, 43, 0);
		background: linear-gradient(to right,rgba(201, 61, 43, 0) 0, $accent 50%,rgba(201, 61, 43, 0) 100%);
	}

	.slider {
		margin: 0 auto;
		max-width: 600px;
		display: flex;
		justify-content: space-between;

		.item {
			width: calc(33.333% - 40px);
			text-align: center;
			color: #fff;
			line-height: 20px;

			i {
				display: block;
				font-size: 32px;
				color: $accent;
				margin-bottom: 15px;
			}

			.name {
				font-size: 14px;
				display: block;
				font-weight: 900;
				padding-bottom: 5px;
				text-transform: uppercase;
			}

			.place {
				display: block;
				font-size: 10px;
				color: #fff;
				text-transform: uppercase;
				font-family: $roboto;
			}

			.line {
				margin: 10px auto 15px;
				width: 20px;
				height: 1px;
				border-radius: 1px;
				background-color: $accent;
				box-shadow: 0 11px 21px $hleb;
			}

			img {
				height: 14px;
				width: auto;
			}
		}
	}

}

.superSonic {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	color: #fff;

	.superSonicList {
		font-size: 16px;
		width: 14.28%;
		position: relative;
		z-index: 2;
		padding-bottom: 30px;

		&.active {
			color: $accent;
			pointer-events: none;

			&::before {
				opacity: 1;
			}
		}

		& > .superSonicCnt {
			display: none;
		}

		&:before {
			width: 100%;
			height: 2px;
			box-shadow: 0 11px 21px $hleb;
			background-color: $accent;
			content: '';
			display: block;
			opacity: 0;
			position: absolute;
			bottom: -2px;
		}
	}

	.superSonicImg {
		max-width: 100%;
		width: 100%;
		cursor: pointer;
		text-align: center;

		img {
			height: 110px;
			margin-bottom: 21px;
		}

		span {
			display: block;
			font-weight: 900;
			font-size: 16px;
			min-height: 44px;
		}
	}

	.superSonicCnt {
		font-size: 16px;
		padding: 60px 15px;
		color: #fff;

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .3;
			background: center no-repeat;
			background-size: auto 160px;
		}

		p {
			z-index: 3;
			max-width: 768px;
			margin: 0 auto;
			position: relative;
		}
	}

	.superSonicShow {
		flex: 1;
		border-top: 2px solid #414365;
		padding: 0;
		background: #33355b center no-repeat;
		border-radius: 0 0 4px 4px;
		box-shadow: none;
		background-image: url(../images/services-bg-web.jpg);

		.superSonicCnt {
			pointer-events: none;
		}
	}
}

.superSonicShow {
	text-align: center;
	position: relative;
	background: #333;
	box-shadow: inset 0 1px 5px #111;
	-webkit-box-shadow: inset 0 1px 5px #111;
	-moz-box-shadow: inset 0 1px 5px #111;
	width: 100%;
	padding: 25px;
	// display: none;
}

section.party {
	background: $main-color bottom center repeat-x;
    background-image: url(/wp-content/themes/diffco/static-template/build/img/bg-pattern.jpg);
    background-size: auto 367px;
    padding-bottom: 100px;
    position: relative;
	z-index: 3;

	h1 {
		padding-bottom: 60px;
		position: relative;
		text-align: center;

		span {
			position: relative;
			z-index: 3;
			display: block;
		}

		.underspace {
			display: block;
			width: 72px;
			height: 5px;
			box-shadow: 0 10px 20px $hleb;
			border: 2px solid $accent;
			background-color: $accent;
			position: absolute;
			top: 34px;
			margin-left: 50%;
			pointer-events: none;
			left: 27px;
		}
	}
}


@import "media"; // Always at the end
